<div class="product-list-box -basket">
  <div class="inner-col description-col">
    <div class="product-img">
      <img [src]="product?.image" [alt]="product?.name"/>
    </div>
    <div class="product-desc">
      <h4 class="col-title mb-2">{{product.name}}</h4>
      <div class="rate">
        <span class="rate-amount ml-2 d-inline-block d-md-none">{{product.feedbacksCount}} отзывов</span>
      </div>
      <p class="rate-amount d-none d-md-block mt-1">
        {{ product.feedbacksCount }} отзывов
      </p>
      <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
        <strong>€{{product?.price}}</strong>
      </p>
    </div>
  </div>
  <div class="default-col inner-col flex-col justify-content-center">
    <div class="counter">
      <button type="button" class="decrement" (click)="decrementProductInCart()">
        <img src="assets/icons/icon-minus-circle-outlined.svg" alt="minus" />
      </button>
      <span class="counter__value">{{product.count}}</span>
      <button type="button" class="increment" (click)="incrementProductInCart()">
        <img src="assets/icons/icon-plus-circle-outlined.svg" alt="plus" />
      </button>
    </div>
  </div>
  <div class="default-col inner-col flex-col justify-content-center">
    <div class="price">
      <h4 class="mb-0">€{{ product?.price * product?.count }}</h4>
    </div>
  </div>
</div>
