<div class="card-component" (click)="redirectTo()">
  <div class="card-img-wrap pointer">
    <img
      loading="auto"
      class="card-img-top"
      [src]="product.images"
      [alt]="product.name"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title pointer">
      {{ product.name }}
    </h5>
    <div>
      <div class="rate">
        <ngx-shop-star-rating
          [feedbackRate]="product.rating"
        ></ngx-shop-star-rating>
        <p class="rate-amount ml-2">{{ product.feedbacksCount }}</p>
      </div>
      <p class="card-text price-text">
        <strong>{{ product.price }}€</strong>
      </p>
    </div>
  </div>
</div>
