<div class="product-list-box -basket">
  <div class="inner-col description-col">
    <div class="product-img pointer" (click)="redirectTo()">
      <img
        loading="auto"
        [src]="product.images | imgUrl"
        [alt]="product.name"
        *ngIf="product.images"
      />
    </div>
    <div class="product-desc">
      <h4 class="col-title mb-2 pointer" (click)="redirectTo()">
        {{ product.name }}
      </h4>
      <div class="rate">
        <span class="rate-amount ml-2 d-inline-block d-md-none">{{
          product.feedbacksCount | review
        }}</span>
      </div>
      <p class="rate-amount d-none d-md-block mt-1">
        {{ product.feedbacksCount | review }}
      </p>
      <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
        <strong>{{ product.price | currency: "EUR" }}</strong>
      </p>
    </div>
  </div>
  <div class="default-col inner-col flex-col justify-content-center">
    <div class="counter">
      <button
        *ngIf="!disabled"
        type="button"
        class="pointer"
        (click)="decrementProductInCart(product)"
      >
        <img
          loading="auto"
          src="/assets/icons/icon-minus-circle-outlined.svg"
          alt="minus"
        />
      </button>

      <span class="counter__value">{{ product.count }}</span>
      <button
        *ngIf="!disabled"
        type="button"
        class="pointer"
        tooltip="Увеличить количество товара"
        (click)="incrementProductInCart(product)"
      >
        <img
          loading="auto"
          src="/assets/icons/icon-plus-circle-outlined.svg"
          alt="plus"
        />
      </button>
    </div>
  </div>
  <div class="default-col inner-col flex-col justify-content-center">
    <h4 class="mb-0">
      {{ product?.price * product?.count | currency: "EUR" }}
    </h4>
  </div>
</div>
