<div class="card-component" (click)="redirectTo(product)">
  <div class="card-img-wrap pointer">
    <img
      loading="auto"
      class="card-img-top"
      [src]="product.images | imgUrl"
      [alt]="product.name"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title pointer">
      {{ product.name }}
    </h5>
    <div>
      <div class="rate">
        <p class="rate-amount ml-2">{{ product.feedbacksCount | review }}</p>
      </div>
      <p class="card-text price-text">
        <strong>{{ product.price | currency: "EUR" }}</strong>
      </p>
    </div>
  </div>
</div>
