<main role="main">
  <div class="container content">
    <div class="row justify-content-end">
      <div class="col-lg-9">
        <h3 class="section-title">Рекомендации для Вас</h3>
        <div class="row homepage-cards">
          <div
            class="col-md-6 col-lg-4 mb-4"
            *ngFor="let product of suggestedProducts"
          >
            <ngx-shop-product-card
              (goToProduct)="goTo($event)"
              [product]="product"
            ></ngx-shop-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
