<div class="form-group">
  <ng-container>
    <h6 class="mb-2 pb-1 pointer">
      <label class="text-dark mb-0">Бренд</label>
    </h6>
    <div>
      <div class="custom-control custom-checkbox mb-2 pointer">
        <input type="checkbox" class="custom-control-input" />
        <label
          class="custom-control-label text-dark pointer brand-name"
        ></label>
      </div>
    </div>

    <div class="all-characters pointer">
      <a class="more">еще</a>
    </div>
  </ng-container>
</div>
