<main role="main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h3 class="h5 mb-4 mt-4 text-md-center cart-title">Ваш заказ</h3>
        <div
          *ngIf="disabled"
          class="alert alert-primary fade show"
          role="alert"
        >
          Ваш заказ был оформлен
        </div>
        <ngx-shop-cart-product
          [disabled]="disabled"
          *ngFor="let product of cartProducts"
          [product]="product"
          (increment)="incrementProductInCart($event)"
          (decrement)="decrementProductInCart($event)"
          (remove)="removeProductFromCart($event)"
          class='shop-cart'
        ></ngx-shop-cart-product>
        <div
          *ngIf="disabled"
          class="text-center mt-2 mb-5 my-sm-5 col-lg-4 offset-lg-4"
        >
          <button type="button" class="px-2 btn-block btn btn-primary btn-lg">
            Обратно в магазин
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
