<div class="product-info">
  <h3 class="h5 product-name"></h3>
  <ngx-shop-star-rating
    tooltip="Рейтинг товара"
    position="left"
    class="star-rating"
  >
  </ngx-shop-star-rating>
  <p class="rate-amount d-none d-md-block mt-1"></p>
  <div class="row flex-column-reverse flex-lg-row mt-lg-3">
    <div class="col-md-7">
      <h5 class="h6 mt-4">Характеристики</h5>
      <ul class="pl-3 mb-3">
        <li>
          <ul>
            <li></li>
          </ul>
        </li>
      </ul>
      <div>
        <div class="all-characters pointer">
          <a class="show-characters">Все характеристики</a>
        </div>

        <div>
          <ul class="pl-3 mb-3">
            <li>
              <ul>
                <li></li>
              </ul>
            </li>
          </ul>
          <div class="characters pointer">
            <a class="hide-characters">Скрыть</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h4 class="col-title price-text discount mb-2 mt-0"></h4>
      <button type="submit" class="submit btn btn-primary btn-lg px-3">
        Добавить в корзину
      </button>
    </div>
  </div>
</div>
